h1{
  color: black;
  text-align: center;}


  #top{
    font-size: 26px;
  }


#middle{
  font-size: 26px;
}


#bottom{
  font-size: 26px;
}





ol >li{

  color:grey;
}

input[type=text] {
  background-color:lightgrey;
}
input[type=number]{
  background-color:lightgrey;
}
input[type=password]
{background-color:lightgrey
}

p::selection{
  color:white;

  background-color:skyblue;

}



button:hover {
  background-color: grey;


}
@media (max-width: 699px){
body{
background-color: lightgrey;
}
}






@media (min-width: 700px){
  body{
    background-color: lightgrey;
  }
}





.container {
  display: flex;
  flex-wrap : wrap;
 } .container > div {
   background-color: lightgrey;
   font-size: 20px;
   margin: 20px;
   padding:  20px;
   width:200px;
 }

 p{
   text-align: center;
   font-size: 29px;
 }

 a{
   text-align: center;
 }
ul{
  font-size:23px;
}












 h1{
   font-size: 40px;


 }a:link, a:visited {
  background-color: #f44336;
  color: white;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:hover, a:active {
  background-color: blue;
}

a:link {
  color: royalblue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: darkblue;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: skyblue;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: royalblue;
  background-color: transparent;
  text-decoration: underline;
